# Data Exploration

# 1. Imports

## 1.1 Packages

In [4]:
import os
import pandas as pd
import sys

In [5]:
sys.path.append("../src/")
from prepare_data import set_type

## 1.2 Options

In [6]:
path_data = '../data/raw/'

## 1.3 Datasets

In [7]:
df = pd.read_csv(os.path.join(path_data, "dataset.gz"), sep=";")
df.sample(5)

             Date  Fourni  Ventes                   id
70127  2022-09-24    10.0     7.0  9099068452793169692
31600  2021-02-11     6.0     0.0  3279815890948347719
79748  2023-02-21     5.0     1.0 -7271580157364264665
11595  2020-05-22    22.0    13.0 -7460489468681503919
28525  2020-12-29    14.0    14.0 -8902190327717477004

# 2. Analyze

In [8]:
df = set_type(df, feat_date="Date")

## 2.1 Overall analysis

In [9]:
print("Size of the dataset", df.shape)

Size of the dataset (83351, 4)

In [10]:
# Description of the dataset
df.describe()

             Fourni        Ventes            id
count  83351.000000  83351.000000  8.335100e+04
mean      15.128697     10.173243 -2.993431e+17
std       14.890796     12.016993  5.908830e+18
min        1.000000      0.000000 -9.168131e+18
25%        5.000000      2.000000 -5.883852e+18
50%       10.000000      6.000000 -6.770789e+17
75%       20.000000     14.000000  5.218656e+18
max      250.000000    227.000000  9.170533e+18

In [11]:
# Number of unique values
for feat in df.columns:
    print(f'Number of unique values for feature {feat}:', df[feat].nunique())

Number of unique values for feature Date: 1192
Number of unique values for feature Fourni: 135
Number of unique values for feature Ventes: 129
Number of unique values for feature id: 100

In [12]:
# Check the percentage of NaNs
df.isna().sum() / len(df)

Date      0.0
Fourni    0.0
Ventes    0.0
id        0.0
dtype: float64

## 2.2 Dates

In [13]:
# Check the period of the dataset
df["Date"].describe(datetime_is_numeric=True)

count                            83351
mean     2021-07-27 00:11:56.276949248
min                2020-01-02 00:00:00
25%                2020-09-20 00:00:00
50%                2021-07-14 00:00:00
75%                2022-05-26 00:00:00
max                2023-04-17 00:00:00
Name: Date, dtype: object